body {
  text-align: center;
 
    background-image: url("dice_back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgb(241, 237, 237);
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(201, 201, 47);
}
.start{
    background: url("restart.jfif");
    background-size : cover ;
    background-color: #cccccc;
    background-position: center;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
